.heimu,.heimu a,a .heimu {
    border: none;
    background-color: #252525!important;
    color: #252525!important;
}
 
.heimu:hover,.heimu:active {
    color: #FFF!important;
}
 
.heimu a:hover,a:hover .heimu {
    border: none;
}

p span.term {
    background-color: rgba(146, 185, 204, 0.2);
    margin: 0 2px;
    padding: 0 2px;
    border-radius: 4px;
}